img{
    width: 80%;
    height: 90%;
}
.gambar{
    width: 100%;
    height: 300px;
}
.foto{
    width: 100%;
    height: 300px;
}
.baris1{
    display: flex;
    justify-content: space-between;
}
.baris2{
    display: flex;
    justify-content: space-between;
}